@tailwind base;
@tailwind components;
@tailwind utilities;

$main--color100: #000000;
$main--color200: #14213d;
$main--color300: #fca311;
$main--color400: #e5e5e5;
$main--color500: #ffffff;

@layer base {
  body {
    @apply dark:bg-black200 bg-white200 overflow-x-hidden;
  }
}

@layer component {
  .btnMenu {
    @apply h-[60px] w-[60px] cursor-pointer rounded-[50%] transition-all duration-[0.2s] ease-in-out;

    &:hover {
      @apply bg-blue-300 dark:bg-slate-300;
    }
  }

  .btnBurger {
    @apply w-full;

    &::after,
    &::before {
      @apply relative mx-auto my-0 block h-[3px] w-[50%] bg-black transition-transform duration-[0.3s] content-[""] dark:bg-white;
    }

    &::after {
      @apply top-[-5px];
    }

    &::before {
      @apply top-[5px];
    }
  }
}

.btnBurgerActive {
  &::after {
    transform: rotate(45deg);
    top: 0;
  }

  &::before {
    transform: rotate(-45deg);
    top: 2px;
  }
}

html,
body {
  scroll-behavior: smooth;
}
