@tailwind base;
@tailwind components;
@tailwind utilities;

$main--color100: #000000;
$main--color200: #14213d;
$main--color300: #fca311;
$main--color400: #e5e5e5;
$main--color500: #ffffff;

html,
body {
	scroll-behavior: smooth;
}
body {
	background-color: $main--color100;
	overflow-x: hidden;
}
